<style>
  .forgot_password {
    display: grid;
    padding: 0 16px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  .forgot_password a {
    background-color: #8d4bdd;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
  }
</style>
<div class="forgot_password">
  <p style="padding: 0 12px">
    Uma solicitação de recuperação de senha foi realizada para sua conta no
    Valoriza. Se você não foi o autor, apenas descarte esse e-mail. Para
    continuar com a recuperação de senha clique no botão abaixo para criar uma
    nova senha. Ah, esse link expira em 1h.
  </p>
  <a href="http://localhost:3000/reset_password/{{token}}">Criar nova senha</a>
</div>
